<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <ul class="navbar-nav">
      <li>
        <a
          *ngIf="loginService.isUserLoggedIn()"
          routerLink="/employees"
          class="nav-link"
          >View Employees</a
        >
      </li>
      <li>
        <a
          *ngIf="!loginService.isUserLoggedIn()"
          routerLink="/register"
          class="nav-link"
          >Register</a
        >
      </li>

      <li>
        <a
          *ngIf="!loginService.isUserLoggedIn()"
          routerLink="/login"
          class="nav-link"
          >Login</a
        >
      </li>

      <li>
        <a
          *ngIf="loginService.isUserLoggedIn()"
          routerLink="/logout"
          class="nav-link"
          >LogOut</a
        >
      </li>
    </ul>
  </nav>
</header>
